

h1 {
    font-family:tim, Helvetica, sans-serif;
    font-size: 65px;
    color: #ffffff;
}

p {
  padding-bottom: 50px;
  color: rgb(231, 231, 231);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  margin-right: 35px;
  margin-left: 35px;
}

.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.video-blur {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(14px) brightness(1.1);
  -webkit-backdrop-filter: blur(14px) brightness(1.1);
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  text-align: center;
  color: white;
  padding-top: 15vh;
  transition: padding-top 0.6s ease;
}

input, button {
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  color: rgb(255, 255, 255);
}

input {
    background-color: rgba(33, 48, 70, 0.237);
}

input::placeholder {
    color: rgb(188, 189, 190);
}

input:focus {
    outline-color: rgb(255, 255, 255);
}


button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.216);
}

#result {
  color: white;
  font-size: 22px;
  text-align: left;
  line-height: 1.5;
  white-space: pre-line;

  max-height: 0;
  opacity: 0;
  overflow: hidden;

  transition:
    max-height 0.6s ease,
    opacity 0.4s ease,
    margin-top 0.4s ease;

  margin-top: 0;
}

#result.show {
  max-height: 500px;  
  opacity: 1;
  margin-top: 12px;
}

.content {
  opacity: 0;
  transform: translateY(20px);
  animation: pageEnter 0.8s ease-out forwards;
}

@keyframes pageEnter {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
